@font-face {
  font-family: "Apercu webfont";
  src: url("./fonts/Apercu-Light.woff") format("woff"),
    url("./fonts/Apercu-Light.ttf") format("truetype");
}

* {
  font-family: "Apercu webfont", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

p,
a,
h1,
h2,
h3,
h4 {
  color: rgb(11, 11, 11);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Key Frames */

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Navbar */

.navbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.navbar-right {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right ul {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-left: 25px;
}

.navbar-link:hover {
  transition: 0.3s;
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
}

.navbar-title {
  font-weight: bold;
  white-space: nowrap;
  font-size: 26px;
}

.link-active {
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
}

.navbar-right :nth-child(4) {
  order: 3;
}

.navbar-right :nth-child(3) {
  order: 2;
}

.navbar-right :nth-child(2) {
  order: 1;
}

/* MenuToggleButton */

.toggle-button {
  width: 20px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.toggle-button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(11, 11, 11);
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.toggle-button span:nth-child(1) {
  top: 0px;
}

.toggle-button span:nth-child(2),
.toggle-button span:nth-child(3) {
  top: 6px;
}

.toggle-button span:nth-child(4) {
  top: 12px;
}

.toggle-button.menu-open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.toggle-button.menu-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-button.menu-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggle-button.menu-open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 20px;
  height: 2px;
  background: black;
}

.menu-open.line-top {
  transform: rotate(45deg);
  transform-origin: top left;
  margin-bottom: 5px;
}

.menu-open.line-bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  margin-top: 5px;
}

/* Menu */

.menu-component {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu-component ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* MenuItem */

.menu-item {
  padding-top: 20px;
  animation: 1s appear forwards;
  align-self: flex-end;
  border-bottom: 5px solid white;
}

.menu-item:hover {
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
  transition: 0.3s;
}

.menu-item.link-active {
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
}

.menu-component :nth-child(4) {
  order: 3;
}

.menu-component :nth-child(3) {
  order: 2;
}

.menu-component :nth-child(2) {
  order: 1;
}

/* Home */

.home-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  animation: 1s slideIn forwards, 1s appear forwards;
}

.home-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.home-container p {
  margin-bottom: 15px;
}

.home-container p a {
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
}

.home-container img {
  width: 100%;
}

/* PageTitle */

.page-title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 120px;
}

.page-title {
  text-transform: lowercase;
  font-style: italic;
  text-align: center;
}

/* ProjectList */

.project-list-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.project-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
  animation: 1s slideIn forwards, 1s appear forwards;
}

/* ProjectOverview */

.project-overview-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.project-name {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
}

.project-overview-component p {
  margin-bottom: 15px;
  width: 100%;
}

.project-overview-component p a {
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
}

/* ProjectIFrame */

.project-iframe-component {
  display: flex;
}

.device-border {
  width: 100%;
  padding: 12px;
  padding-top: 30px;
  border-radius: 10px;
  border-color: rgb(175, 175, 175);
  background-color: rgb(175, 175, 175);
  box-shadow: 0;
}

.responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  box-shadow: 0;
  background-color: white;
}

.responsive iframe {
  position: absolute;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: left top;
  border: none;
}

/* About */

.about-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  animation: 1s slideIn forwards, 1s appear forwards;
}

.about-overview-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-container p {
  margin-bottom: 15px;
}

.about-overview-container {
  margin-bottom: 40px;
}

/* Contact */

.contact-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  animation: 1s slideIn forwards, 1s appear forwards;
}

.profile-photo {
  display: block;
  width: 100%;
  height: auto;
}

.contact-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.contact-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.contact-container div h4 {
  border-bottom: 5px solid rgb(0, 0, 255, 0.35);
  margin-bottom: 7px;
  width: max-content;
}

.social-media-links-container {
  display: flex;
}

/* Blog */

.blog-component {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
}

.blog-container {
  display: flex;
  justify-content: center;
  width: 680px;
}

/* Footer */

.footer-component {
  display: flex;
  align-items: center;
  width: 100%;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.instagram-logo {
  fill: rgb(11, 11, 11);
  height: 20px;
}

#instagram-hyperlink {
  display: flex;
  align-items: center;
}

.icon__fallback-text {
  visibility: hidden;
  font-size: 1px;
}

/* Media Queries */

@media (min-width: 760px) {
  .toggle-button,
  .menu-component {
    display: none;
  }
}

@media (max-width: 760px) {
  .navbar-link {
    display: none;
  }

  .home-container,
  .page-title-container,
  .project-list-container,
  .contact-container,
  .about-container,
  .menu-component ul {
    margin-right: 40px;
    margin-left: 40px;
    width: 100%;
  }
}

@media (max-width: 464px) {
  .device-border {
    padding: 40px 12px;
    border-radius: 30px;
  }

  .responsive {
    padding-bottom: 170%;
  }

  .responsive iframe {
    width: 125%;
    height: 125%;
    transform: scale(0.8);
  }
}
