* {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* App */

.app-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Navbar */

.navbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgb(132, 132, 132, 0.2);
  /* background-color: rgb(56, 68, 76); */
  /* box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2); */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1010px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-title {
  /* color: white; */
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
}

.navbar-link p,
.navbar-anchor {
  text-transform: uppercase;
  /* font-size: 13px; */
  margin-left: 20px;
  border-bottom: 1px solid white;
}

.navbar-link p:hover,
.navbar-anchor:hover {
  color: black;
  border-bottom: 1px solid black;
  transition: 0.3s;
}

/* Home */

.home-component {
  height: 100%;
  background-color: rgb(56, 68, 76);
}

.home-container {
  height: 100%;
}

.home-page-text {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PageTitle */

.page-title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1010px;
  height: 130px;
}

.page-title {
  font-size: 17px;
  /* font-weight: 500; */
  /* text-transform: uppercase; */
  font-style: italic;
  /* color: rgb(56, 68, 76); */
}

/* ProjectList */

.project-list-component {
  display: flex;
  flex-direction: column;
}

.project-list-item {
  display: flex;
  width: 1010px;
}

.project-list-item {
  margin-bottom: 100px;
}

/* ProjectGif */

.project-video {
  width: 485px;
  height: auto;
  /* border-radius: 10px; */
  /* box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2); */
}

.project-video:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/* ProjectOverview */

.project-overview-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.project-name {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0.8;
}

.project-overview {
  margin-bottom: 15px;
}

.bold {
  font-weight: 500;
  opacity: 0.8;
}

.margin-left {
  margin-left: 5px;
}

span {
  display: flex;
}

span p {
  margin-bottom: 15px;
}

span a {
  /* color: rgb(56, 68, 76); */
  color: black;
  font-weight: 500;
  /* border: 1px solid white; */
  border-bottom: 1px solid white;
  /* padding: 2px 5px; */
  /* margin-bottom: 15px; */
  margin-left: 15px;
  opacity: 0.8;
}

span a:hover {
  /* color: white; */
  /* background-color: black; */
  transition: 0.3s;
  border-bottom: 1px solid black;
  /* border: 1px solid black; */
  /* border-radius: 2px; */
}

.project-overview-links {
  display: flex;
  justify-content: flex-end;
}

/* Contact */

.contact-component {
  display: flex;
  width: 1010px;
}

.profile-photo {
  width: 485px;
  /* border-radius: 10px; */
  /* box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2); */
}

.contact-overview-container {
  margin-left: 40px;
}

.contact-overview-container h4 {
  font-size: 17px;
  margin-bottom: 15px;
}

.contact-overview-container p {
  margin-bottom: 15px;
}

.email-anchor {
  border-bottom: 1px solid white;
}

.email-anchor:hover {
  border-bottom: 1px solid black;
  transition: 0.3s;
}
