@font-face {
  font-family: "Apercu webfont";
  src: url("./fonts/Apercu-Light.woff") format("woff"),
    url("./fonts/Apercu-Light.ttf") format("truetype");
}

* {
  font-family: "Apercu webfont", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p,
a,
h1,
h2,
h3,
h4,
li {
  color: rgb(11, 11, 11);
}

code {
  background-color: rgb(245, 242, 240);
  padding: 2px 4px;
  font-size: 16px;
}

.navbar-link,
.menu-item {
  background-image: none;
}

a,
.link-active {
  text-decoration: none;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(0, 0, 255, 0.25) calc(50% - 9px),
    rgba(0, 0, 255, 0.25) 100%
  );
  background-size: 100% 200%;
}

a:hover {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgb(0, 0, 255, 0.25) calc(50% - 9px),
    rgb(0, 0, 255, 0.25) 100%
  );
  background-position: 0px 100%;
  transition: 0.3s;
}

p {
  line-height: 1.4;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Key Frames */

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Navbar */

.navbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 680px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.navbar-right {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right ul {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-left: 15px;
}

.navbar-title {
  font-weight: bold;
  white-space: nowrap;
  font-size: 24px;
  text-transform: lowercase;
  opacity: 0.5;
}

/* MenuToggleButton */

.toggle-button {
  width: 20px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.toggle-button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(11, 11, 11);
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.toggle-button span:nth-child(1) {
  top: 0px;
}

.toggle-button span:nth-child(2),
.toggle-button span:nth-child(3) {
  top: 6px;
}

.toggle-button span:nth-child(4) {
  top: 12px;
}

.toggle-button.menu-open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.toggle-button.menu-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-button.menu-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggle-button.menu-open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 20px;
  height: 2px;
  background: black;
}

.menu-open.line-top {
  transform: rotate(45deg);
  transform-origin: top left;
  margin-bottom: 5px;
}

.menu-open.line-bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  margin-top: 5px;
}

/* Menu */

.menu-component {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu-component ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* MenuItem */

.menu-item {
  margin-top: 20px;
  /* animation: 1s appear forwards; */
  align-self: flex-end;
}

/* Home */

.home-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  /* animation: 1s appear forwards; */
}

.home-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-container p {
  margin-bottom: 15px;
}

.home-container img {
  width: 100%;
}

/* PageTitle */

.page-title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 120px;
}

.page-title {
  /* text-transform: lowercase; */
  text-align: center;
  font-size: 15px;
  /* opacity: 0.5; */
}

/* ProjectList */

.project-list-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.project-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
  /* animation: 1s appear forwards; */
}

/* ProjectOverview */

.project-overview-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.project-name {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-overview-component p {
  /* font-size: 15px; */
  margin-bottom: 15px;
}

.project-overview-component h4 {
  margin-bottom: 5px;
}

.project-overview-component ul {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.project-overview-component ul li p {
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 255, 0.25);
  padding: 5px;
  border-radius: 5px;
}

/* ProjectIFrame */

.project-iframe-component {
  display: flex;
}

.device-border {
  width: 100%;
  padding: 12px;
  padding-top: 30px;
  border-radius: 10px;
  border-color: rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  box-shadow: 0;
}

.responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  box-shadow: 0;
  background-color: white;
}

.responsive iframe {
  position: absolute;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: left top;
  border: none;
}

/* About */

.about-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  /* animation: 1s appear forwards; */
}

.about-overview-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-container p {
  margin-bottom: 15px;
}

.about-overview-container {
  margin-bottom: 40px;
}

/* Contact */

.contact-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  /* animation: 1s appear forwards; */
}

.profile-photo {
  display: block;
  width: 100%;
  height: auto;
}

.contact-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.contact-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.contact-container div h4 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
  width: max-content;
}

.contact-container div a {
  width: fit-content;
}

/* BlogList */

.blog-list-component {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
}

.blog-list-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 50px;
}

.blog-list-container ul li {
  margin-bottom: 100px;
  display: flex;
}

.blog-list-container ul li div h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-list-container ul li div h1 a {
  font-size: 36px;
  font-size: 24px;
  font-weight: bold;
  background-image: none;
}

.blog-list-container ul li div p {
  margin-bottom: 10px;
  font-size: 15px;
}

.blog-list-container ul li div a img {
  object-fit: cover;
  height: 200px;
  max-width: 200px;
  width: auto;
  overflow: hidden;
  margin-right: 30px;
}

.blog-list-container ul li div ul {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.blog-list-container ul li div ul li {
  margin-bottom: 0;
}

.blog-list-container ul li div ul li p {
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 255, 0.25);
  padding: 5px;
  border-radius: 5px;
}

/* BlogPost */

.blog-post-component {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  overflow-x: auto;
  margin-bottom: 150px;
}

.blog-post-container h1 {
  font-size: 36px;
  font-weight: bold;
}

.blog-post-container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.blog-post-container h3 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

.blog-post-container h4 {
  margin-top: 10px;
}

.blog-post-container div figure img {
  width: 100%;
  margin-top: 30px;
}

.blog-post-container div figcaption {
  text-align: center;
  font-style: normal;
  width: 100%;
}

.blog-post-container div figcaption p {
  font-size: 15px;
  margin-top: 10px;
}

.blog-post-container div figcaption p a {
  font-size: 15px;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 6px),
    rgba(0, 0, 255, 0.25) calc(50% - 6px),
    rgba(0, 0, 255, 0.25) 100%
  );
}

.blog-post-container p a {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(0, 0, 255, 0.25) calc(50% - 9px),
    rgba(0, 0, 255, 0.25) 100%
  );
}

.blog-post-container p {
  margin-top: 30px;
}

.blog-post-container p strong {
  font-weight: bold;
}

.blog-post-container p a:hover {
  background-image: linear-gradient(
    transparent calc(50% - 9px),
    rgb(0, 0, 255, 0.25) calc(50% - 9px),
    rgb(0, 0, 255, 0.25) 100%
  );
  background-position: 0px 100%;
}

.blog-post-container ul {
  list-style-position: inside;
}

.blog-post-container ul li {
  margin-top: 25px;
}

.blog-post-container pre code,
.blog-post-container span {
  font-size: 16px;
}

/* Footer */

.footer-component {
  display: flex;
  align-items: center;
  width: 100%;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.instagram-logo {
  fill: rgb(11, 11, 11);
  height: 20px;
}

#instagram-hyperlink {
  display: flex;
  align-items: center;
}

.icon__fallback-text {
  visibility: hidden;
  font-size: 1px;
}

/* Media Queries */

@media (min-width: 760px) {
  .toggle-button,
  .menu-component {
    display: none;
  }
}

@media (max-width: 760px) {
  .navbar-link {
    display: none;
  }

  .home-container,
  .page-title-container,
  .project-list-container,
  .contact-container,
  .about-container,
  .blog-list-container,
  .blog-post-container,
  .menu-component ul {
    margin-right: 40px;
    margin-left: 40px;
  }

  h4,
  p,
  a,
  em,
  strong,
  li,
  code {
    font-size: 18px;
  }

  .blog-post-container pre code,
  .blog-post-container span {
    font-size: 15px;
  }

  .blog-list-container ul li {
    flex-direction: column;
  }

  .blog-list-container ul li div a img {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 464px) {
  .device-border {
    padding: 40px 12px;
    border-radius: 30px;
  }

  .responsive {
    padding-bottom: 170%;
  }

  .responsive iframe {
    width: 125%;
    height: 125%;
    transform: scale(0.8);
  }
}

.no-background-image {
  background-image: none;
}

.no-background-image:hover {
  background-image: none;
}
