@font-face {
  font-family: "Apercu webfont";
  src: url("./fonts/Apercu-Light.woff") format("woff"),
    url("./fonts/Apercu-Light.ttf") format("truetype");
}

* {
  font-family: "Apercu webfont", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 250, 250);
}

p,
a,
h1,
h2,
h3,
h4,
li {
  color: rgb(25, 25, 25);
}

code {
  background-color: rgb(245, 242, 240);
  padding: 2px 4px;
  font-size: 15px;
}

.navbar-link,
.menu-item {
  background-image: none;
}

a {
  text-decoration: none;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(0, 0, 255, 0.25) calc(50% - 9px),
    rgba(0, 0, 255, 0.25) 100%
  );
  background-size: 100% 200%;
}

a:hover {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgb(0, 0, 255, 0.25) calc(50% - 9px),
    rgb(0, 0, 255, 0.25) 100%
  );
  background-position: 0px 100%;
  transition: 0.3s;
}

a.link-active {
  font-size: 20px;
  font-weight: bold;
}

.navbar-link:hover {
  background-image: none;
  font-size: 20px;
  font-weight: bold;
}

p {
  line-height: 1.4;
}

strong {
  font-weight: bold;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.home-component,
.project-list-component,
.blog-list-component,
.blog-post-component,
.contact-component,
.about-component {
  margin-top: 85px;
}

/* Key Frames */

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Navbar */

.navbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  background-color: rgb(250, 250, 250);
  background-color: black;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 680px;
  width: 100%;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-right {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right ul {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-left: 10px;
  font-size: 15px;
  color: white;
  transition: 0.3s;
}

.navbar-title {
  /* font-weight: bold; */
  white-space: nowrap;
  color: white;
  text-transform: lowercase;
  font-size: 15px;
  letter-spacing: 7px;
}

/* MenuToggleButton */

.toggle-button {
  width: 20px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.toggle-button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(25, 25, 25);
  background-color: white;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.toggle-button span:nth-child(1) {
  top: 0px;
}

.toggle-button span:nth-child(2),
.toggle-button span:nth-child(3) {
  top: 6px;
}

.toggle-button span:nth-child(4) {
  top: 12px;
}

.toggle-button.menu-open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.toggle-button.menu-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-button.menu-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggle-button.menu-open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 20px;
  height: 2px;
  background: black;
}

.menu-open.line-top {
  transform: rotate(45deg);
  transform-origin: top left;
  margin-bottom: 5px;
}

.menu-open.line-bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  margin-top: 5px;
}

/* Menu */

.menu-component {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 80px;
  padding-top: 70px;
  position: fixed;
  z-index: 2;
  background-color: rgb(250, 250, 250);
  background-color: black;
  height: 100%;
  animation: 1s appear forwards;
}

.menu-component ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* animation: 1s slideIn forwards; */
}

/* MenuItem */

.menu-item {
  margin-top: 20px;
  align-self: flex-end;
  color: white;
  background-image: none;
}

.menu-item:hover {
  font-weight: bold;
  background-image: none;
}

/* Home */

.home-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  /* animation: 1s appear forwards; */
}

.home-container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-container p {
  margin-bottom: 15px;
  font-size: 15px;
}

.home-container img {
  width: 100%;
}

/* PageTitle */

.page-title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 120px;
}

.page-title {
  text-align: center;
  font-size: 15px;
}

/* ProjectList */

.project-list-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.project-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
  /* animation: 1s appear forwards; */
}

/* ProjectOverview */

.project-overview-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.project-name {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-overview-component p {
  margin-bottom: 15px;
  font-size: 15px;
}

.project-overview-component h4 {
  margin-bottom: 5px;
}

.project-overview-component ul {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.project-overview-component ul li p {
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 255, 0.25);
  padding: 5px;
  border-radius: 5px;
}

/* ProjectIFrame */

.project-iframe-component {
  display: flex;
}

.device-border {
  width: 100%;
  padding: 13px;
  padding-top: 32px;
  border-radius: 10px;
  border-color: rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  background-color: black;
  box-shadow: 0;
}

.responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  box-shadow: 0;
  background-color: white;
}

.responsive iframe {
  position: absolute;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: left top;
  border: none;
}

.loading {
  position: relative;
  background-image: url("../src/assets/spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 35%;
  opacity: 0.2;
}

/* About */

.about-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  /* animation: 1s appear forwards; */
}

.about-overview-container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-container p {
  margin-bottom: 15px;
  font-size: 15px;
}

.about-overview-container {
  margin-bottom: 40px;
}

/* Contact */

.contact-component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 100px;
  /* animation: 1s appear forwards; */
}

.profile-photo {
  display: block;
  width: 100%;
  height: auto;
}

.contact-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.contact-container div p {
  font-weight: bold;
  /* font-size: 30px; */
  /* margin-bottom: 10px; */
  width: max-content;
}

.contact-container div a {
  width: fit-content;
}

/* BlogList */

.blog-list-component {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
}

.blog-list-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-bottom: 50px;
}

.blog-list-container ul li {
  margin-bottom: 100px;
  display: flex;
}

.blog-list-container ul li div h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-list-container ul li div h1 a {
  font-size: 30px;
  font-weight: bold;
  background-image: none;
}

.blog-list-container ul li div p {
  margin-bottom: 10px;
  font-size: 15px;
}

.blog-list-container ul li div a img {
  object-fit: cover;
  height: 200px;
  max-width: 200px;
  width: auto;
  overflow: hidden;
  margin-right: 30px;
}

.blog-list-container ul li div ul {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.blog-list-container ul li div ul li {
  margin-bottom: 0;
}

.blog-list-container ul li div ul li p {
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 255, 0.25);
  padding: 5px;
  border-radius: 5px;
}

/* BlogPost */

.blog-post-component {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  overflow-x: auto;
  margin-bottom: 150px;
}

.blog-post-container h1 {
  font-size: 30px;
  font-weight: bold;
}

.blog-post-container h2 {
  font-size: 27px;
  font-weight: bold;
  margin-top: 50px;
}

.blog-post-container h3 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 50px;
}

.blog-post-container h4 {
  margin-top: 10px;
}

.blog-post-container div figure img {
  width: 100%;
  margin-top: 30px;
}

.blog-post-container div figcaption {
  text-align: center;
  font-style: normal;
  width: 100%;
}

.blog-post-container div figcaption p {
  font-size: 15px;
  margin-top: 10px;
}

.blog-post-container div figcaption p a {
  font-size: 15px;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 6px),
    rgba(0, 0, 255, 0.25) calc(50% - 6px),
    rgba(0, 0, 255, 0.25) 100%
  );
}

.blog-post-container p a {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    rgba(0, 0, 255, 0.25) calc(50% - 9px),
    rgba(0, 0, 255, 0.25) 100%
  );
}

.blog-post-container p {
  margin-top: 30px;
}

.blog-post-container p a:hover {
  background-image: linear-gradient(
    transparent calc(50% - 9px),
    rgb(0, 0, 255, 0.25) calc(50% - 9px),
    rgb(0, 0, 255, 0.25) 100%
  );
  background-position: 0px 100%;
}

.blog-post-container ul {
  list-style-position: inside;
}

.blog-post-container ul li {
  margin-top: 25px;
}

.blog-post-container pre code,
.blog-post-container span {
  font-size: 15px;
}

/* Footer */

.footer-component {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  width: 100%;
  margin-right: 80px;
  margin-left: 80px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-copyright {
  color: white;
  font-size: 15px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right a {
  display: flex;
  align-items: center;
  background-image: none;
  margin-left: 10px;
}

.footer-right a:hover {
  background-image: none;
}

#email-logo {
  height: 18.5px;
  width: auto;
  margin-right: 7.5px;
}

#linkedin-logo {
  height: 19px;
  width: auto;
  padding-top: 1px;
}

#github-logo {
  height: 30px;
  width: auto;
}

/* Media Queries */

@media (max-width: 840px) {
  .navbar-container,
  .footer-container {
    width: 680px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 740px) {
  .toggle-button,
  .menu-component {
    display: none;
  }
}

@media (max-width: 740px) {
  .navbar-link {
    display: none;
  }

  .navbar-container,
  .home-container,
  .page-title-container,
  .project-list-container,
  .contact-container,
  .about-container,
  .blog-list-container,
  .blog-post-container,
  .menu-component ul,
  .footer-container {
    margin-right: 30px;
    margin-left: 30px;
  }

  h4,
  p,
  a,
  em,
  strong,
  li,
  code {
    font-size: 18px;
  }

  .menu-item {
    font-size: 15px;
    transition: 0.3s;
  }

  .menu-item:hover {
    font-size: 20px;
    font-weight: bold;
  }

  .menu-item.link-active {
    font-size: 20px;
  }

  .blog-post-container pre code,
  .blog-post-container span {
    font-size: 15px;
  }

  .blog-list-container ul li {
    flex-direction: column;
  }

  .blog-list-container ul li div a img {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 464px) {
  .device-border {
    padding: 40px 10px;
    border-radius: 30px;
  }

  .responsive {
    padding-bottom: 170%;
  }

  .responsive iframe {
    width: 125%;
    height: 125%;
    transform: scale(0.8);
  }

  .loading {
    background-size: 65%;
  }
}

.no-background-image {
  background-image: none;
}

.no-background-image:hover {
  background-image: none;
}
